body {
    background-color: #1F2128 !important;
    background-image: url("project images/pattern.svg");
    margin: 0;
    padding-top: 25vh;
    font-family: 'Agdasima', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Space Mono', monospace !important;
    overscroll-behavior: none;
}

.testing{
    color: #fff;
}
  
/* .navbarborder1{
    background: rgb(204,75,201);
    background: linear-gradient(107deg, rgba(204,75,201,1) 0%, rgba(133,88,207,1) 100%);
    height: 12vh;
    width: 50vh;
} */


.card1{
    border: none !important;
    background: #8558CF !important;
    cursor: pointer;
    padding: 0px !important;
    color: #ffff !important;
    font-size: 15px;
    height: 400px !important;
}

.card-body {
    overflow: scroll;
}
  

.card-body::-webkit-scrollbar {
    display: none;
}
  

.card-body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
  
  
.card {
    transition: transform 0.3s ease;
}
  
.card:hover {
    transform: translateY(-15px);
}

.nav-item a {
    color: #ffff;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 18px !important;

    
}



.nav-item a:hover {
    box-shadow: #CC4BC9 0px 5px;
    color: #fff;
}

.imgview1{
    box-shadow: -15px 15px 0 #5612c3;
    padding: 0px !important;
    width: fit-content !important;
}

.projecttitle{
    color: #fff;
}

.textrand{
    color: #bebcbc;
    margin: 0;
}

.EvenSpacing{
    height: 112px;;
}

.EvenSpacing2{
    height: 100px;;
}







nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top {
    background-color: #000000 !important;
}