@import url("https://fonts.googleapis.com/css2?family=Agdasima&family=Montserrat&family=Nanum+Gothic+Coding:wght@400;700&family=Quicksand&family=Space+Mono&display=swap");
body {
  background-color: #000 !important;
  background: url("project images/pattern.svg");
  margin: 0;
  padding-top: 32vh;
  font-family: "Agdasima", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nanum Gothic Coding", monospace;
  font-family: "Quicksand", sans-serif;
  font-family: "Space Mono", monospace;
}


.container-fluid {
  padding-left: 0rem;
  padding-right: 0rem;
  overflow: hidden;
}

.pagexplain {
  font-size: 13px;
  margin: 0;
  color: rgba(255, 255, 255, 0.7568627451);
  padding-left: 10px;
  cursor: pointer;
}

.rowcontainer {
  background-image: url("project images/Group\ 19.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
}

.IamJoseph {
  color: #FFFFFF;
  font-size: 80px;
  font-weight: normal;
  margin: 0;
  cursor: pointer;
}

.displaygen,.displaygen1 {
  color: #FFFFFF;
  font-size: 22px;
  height: 10vh;
  width: 50vh;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 1vh;
  background: rgba(30, 33, 40, 0.70);
  border: #FFFFFF solid 1px;
  border-left: 6px solid #FFFFFF;
}

.buttonbtn {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0;
  height: 10vh;
  width: 10vh;
  margin-right: 1vh;
  background: rgba(30, 33, 40, 0.70);
  border: #FFFFFF solid 1px;
}

.buttonbtn:hover {
  background: #BB1A7A;
}

input[type="password"],
select {
  width: 60vh;
  padding: 12px 20px;
  display: inline-block;
  border: none;
  color: #FFFFFF;
  box-sizing: border-box;
  background: none;
}

.passvalidator {
  height: 32vh;
}
.passwordbox{
  border: #FFFFFF 1px solid;
  background: rgba(30, 33, 40, 0.70);
}
input[type="password"]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7568627451);
}

input[type="password"]::placeholder {
  color: rgba(255, 255, 255, 0.7568627451);
}

input[type="password"]:focus {
  outline: none;
}

.submittbtn {
  border: none;
  background: none;
}


@media (max-width: 480px) {
  body{
    padding-top: 30vh;
  }

  .IamJoseph{
    font-size: 80px;
    text-align: center;
  }

  input[type="password"],
  select {
    width: 330px;
    height: 82.398px;
    margin: 8.440px;
  }

  .svgname{
    width:89px;
    height:68px;
    font-weight: lighter;
  }
}

.brand {
  padding: 8px 12px;
  cursor: pointer;
}

@keyframes changeColor {
  0% {
    stroke: #BB1A7A;
  }
  50% {
    stroke: #6c5dd3;
  }
  100% {
    stroke: #1dfff5;
  }
}

.svgname:hover .svglines,
.svgname:hover {
  animation: changeColor 1.5s linear infinite;
}

.toast{
  background: linear-gradient(270deg, rgba(133, 88, 207, 0.70) 50.45%, rgba(204, 75, 201, 0.70) 100%);
  color: #FFFFFF;
}

.toast-header{
  background-color: #0000005e;
  color: #FFFFFF;
}

.btn-close{
  background-color: #FFFFFF;
  color: #FFFFFF;
  border-radius: 0%;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
